body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url(/web/images/background.jpg);
    display: grid;
    justify-items: center;
    align-content: space-around;
}

#signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1);
    border-right: gray 2px solid;
    border-bottom: gray 2px solid;
    border-top:rgb(206, 202, 202) solid 2px ;
    border-left:rgb(206, 202, 202) solid 2px ;
}

#signup-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#signup-container input ::target-text {
    filter: drop-shadow(2px 2px 5px black);
}

#signup-container select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#signup-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#signup-container a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}
